/*desktop responsive*/
p.comment strong {
    color: #01bfa5;
}

.partnersection {
    background-color: #fff;
}
.landing-footer {
    background-color: #fff;
}
footer.section.section-footer {
    padding: 0.75rem;
}

.section-footer p {
    margin: 0;
}
ul.socialicons {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

ul.socialicons>li {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 2px;
}

ul.socialicons>li img {
    width: 100%;
    height: 100%;
}
.landing > div {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding: 20px 0;
    margin: 20px auto !important;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
    max-width: 1345px;
    margin: 0 auto;
}

.targeted h2 {
    font-weight: 300;
}
h1, .h1 {
    font-size: 2em;
}
.cont{
    max-width: 1345px;
    margin: 0 auto;
}
.btnpartner {
    padding: 0 60px;
}
.row{
--gutter-x: 1.5rem;
--gutter-y: 0;
display: flex;
flex-wrap: wrap;
margin-top: calc(-1 * var(--gutter-y));
margin-right: calc(-.5 * var(--gutter-x));
margin-left: calc(-.5 * var(--gutter-x));
padding: 20px 0;
}
div#secondsection {
    display: block;
    max-width: 1250px;
}
#secondsection>div {
    width: 49%;
    display: inline-block;
    text-align: center;
}
div#thirdsection {
    display: block;
    padding-left: 0;
    padding-right: 0;
}
.partenershiptext {
    max-width: 51ch;
    margin-left: 0;
}
.landing div:nth-child(2) {
    margin-right: 0;
}
header.navbar {
    max-width: 1175px;
    margin: 0 auto;
}
span.dots {
    padding: 0 5px;
}
.landing .imgcontainer {
    margin-top: 10px;
}
.span6 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    /*background-color: rgba(39,41,43,0.03);
    border: 1px solid rgba(39,41,43,0.1);*/
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    margin-top: var(--gutter-y);
}
.span8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.span4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.ml100{
  margin-left: 100px;
  margin-top: 25px;
}
.cont.firstimg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.imgcontainer {
    position: relative;
}
.firstimg h2 {
    color: #000;
    font-size: 2.8em;
}
.cont.secondimg {
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
    left: 22%;
}
.secondimg h2 {
    color: #000;
    font-size: 1.8em;
}
.desktop{
display: block !important;
}
.mobile{
display: none !important;
}
a.btn.btn-grey {
    background-color: #4f4d59;
    color: #fff;
    padding: 0.35rem 2.4rem;
    text-transform: uppercase;
    font-size: 19px;
    height: auto;
}
body {
    color: #000;
}
@media only screen and (min-width: 1025px){

header.navbar {
    max-width: 1320px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap!important;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}
.landing > div {
    max-width: 1500px;
}
div#secondsection {
    max-width: 1250px;
}
}
.landing .imgcontainer img {
    width: 100%;
    max-width: 100%;
}
img.handicon {
    width: 8%;
}
.landing-footer {
    background-color: #f7f7f7;
}
/*mobile responsive*/
@media screen and (max-width: 1024px){
.desktop{display: none !important;}
.mobile{display: block !important;}

h1, .h1 {
    font-size: 10vw;
}
    img.mobileres,.mobileres {
    width: 100%;
    max-width: 100%;
    height: auto;
}
/*
header css start
*/
section.navbar-section {
    padding-left: 10px;
    padding-top: 10px;
}

header.navbar.sslnav {
    padding-bottom: 0 !important;
}

.sslnav .sslnavlogo {
    width: 100%;
}

/*
header css end
*/
/* main section css start */
#secondsection>div {
    width: 100%;
}
.landing > div {
    margin-top: 0;
    flex-direction: column;
    margin-left: 0;
    padding: 10px 20px;
    text-align: center;
    align-items: center;
}
.landing div:nth-child(2) {
    margin-right: 0;
}
.partenershiptext {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.landing .targeted .btn {
    width: 100%;
}
.span6 {
    flex: 0;
    margin-left: 0;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    padding: 0 0;
    margin: 0 auto;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.firstimg h2 {
    font-size: 19px;
    padding-top: 40px;
}
/* main section  css end */

/*footer css start*/
.landing > div.landing-footer {
    align-items: flex-start;
    text-align: left;
}
.ssl-footer a {
    display: none;
}
footer.section.section-footer {
    padding: 0;
}
span.dots {
    display: none;
}
.firstimg p {
    font-size: 14px;
    color: #000;
}
.secondimg p {
    font-size: 15px;
    color: #000;
}
.cont.secondimg {
    left: 0;
}
.secondimg h2 {
    color: #000;
    font-size: 22px;
}
/*footer css end*/
}
/*tablet responsive*/
@media screen and (min-width: 768px) and (max-width: 1024px){
.secondimg h2 {
    color: #000;
    font-size: 2.8rem;
}
.firstimg h2 {
    font-size: 3rem;
}
.firstimg p {
    font-size: 26px;
    color: #000;
}
.secondimg p {
    font-size: 26px;
    color: #000;
}
a.btn.btn-grey {
    padding: 1.35rem 2.4rem;
    font-size: 30px;
}
}
